<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.AppVersionMapper">

	<select id="getLastVersion" resultType="AppVersion" parameterType="AppVersion">
		SELECT version_code,version_name,remarks,download_url FROM edu_app_version 
		WHERE type = #{type}
	</select>	
	
</mapper>