<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.school.classes.mapper.EduClassesMapper">
    
	<sql id="eduClassesColumns">
		a.id AS "id",
		a.name AS "name",
		a.short_name AS "shortName",
		a.office_id AS "office.id",
		a.grade AS "grade",
		a.study_year AS "studyYear",
		a.sort AS "sort",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
		office.name AS "office.name"
	</sql>
	
	<sql id="eduClassesJoins">
		
		LEFT JOIN sys_office office ON office.id = a.office_id
	</sql>
	
    
	<select id="get" resultType="EduClasses" >
		SELECT 
			<include refid="eduClassesColumns"/>
		FROM edu_classes a
		<include refid="eduClassesJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="EduClasses" >
		SELECT 
			<include refid="eduClassesColumns"/>
		FROM edu_classes a
		<include refid="eduClassesJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="shortName != null and shortName != ''">
				AND a.short_name = #{shortName}
			</if>
			<if test="office != null and office.id != null and office.id != ''">
				AND a.office_id = #{office.id}
			</if>
			<if test="grade != null and grade != ''">
				AND a.grade = #{grade}
			</if>
			<if test="school != null and school != ''">
				AND a.office_id = #{school}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="EduClasses" >
		SELECT 
			<include refid="eduClassesColumns"/>
		FROM edu_classes a
		<include refid="eduClassesJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findListByUser" resultType="EduClasses" >
		select b.id,
		b.`name`,
		b.short_name,
		b.grade,
		c.label as remarks  
		from edu_teacher_class a ,edu_classes b,sys_dict_value c 
		where a.class=b.id 
		and a.`subject`=c.`value` 
		and c.dict_type_id='ff7a5a5fb4ff460aa5fb82af06ad4e55' 
		and a.teacher=#{remarks}
	</select>
	<insert id="insert">
		INSERT INTO edu_classes(
			id,
			name,
			short_name,
			office_id,
			grade,
			study_year,
			sort,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{shortName},
			#{office.id},
			#{grade},
			#{studyYear},
			#{sort},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE edu_classes SET 	
			name = #{name},
			short_name = #{shortName},
			office_id = #{office.id},
			grade = #{grade},
			study_year = #{studyYear},
			sort = #{sort},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM edu_classes
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE edu_classes SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="EduClasses" statementType="STATEMENT">
		select * FROM edu_classes  where ${propertyName} = '${value}'
	</select>
	
</mapper>